html {
    font-family: var(AvantGardeGothic-Bk);
}

body {
    background-color: #f5f7ff;
}

#radiogroup {
    margin: 5px;
}

.k-switch {
    width: 65px;
}

.k-switch-on .k-switch-handle {
    background-color: var(--primary-color) !important;
    border: 1px solid black;
}

.k-switch-on:hover .k-switch-handle {
    background-color: var(--action-hover) !important;
    border: 1px solid black;
}

.k-switch-on .k-switch-handle {
    border: none !important;
}

.k-switch-on .k-switch-container {
    color: var(--primary-color) !important;
}

.k-switch-off .k-switch-handle {
    border: none !important;
}

.k-switch-off:hover .k-switch-handle {
    border: none !important;
    background-color: var(--sec-hover) !important;
}

.switch:hover {
    color: var(--action-hover);
}

.k-switch-on:focus {
    box-shadow: none;
    border: none;
}

.k-switch-off:focus {
    box-shadow: none;
}

.item-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    border-bottom: 2px solid var(--item-bg-color);
}

.item-group h3 {
    color: var(--primary-color);
    display: block;
    padding: 2px 0;
    box-sizing: border-box;
    font-family: var(--medium-txt);
    font-weight: 600;
    width: 100%;
    margin-bottom: 2px;
}

.k-input {
    background-color: var(--white-color);
    border-radius: 3px;
    border: 1px solid var(--border-color);
    line-height: 40px;
    padding: 0;
    box-sizing: border-box;
}

.btn.btn-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn-secondary {
    background-color: var(--sec-color) !important;
}

.k-secondary:hover {
    background-color: var(--sec-hover) !important;
}

.k-primary:hover {
    background-color: var(--action-hover) !important;
}

.btn {
    transition: 200ms all ease-in-out;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font: 18px/32px "AvantGardeGothic-Bd", sans-serif;
    padding: 5px 15px;
    white-space: nowrap;
}

.btn.btn-rigth {
    margin-left: 16px;
}

.k-widget .k-window {
    margin: 50px auto;
}

.k-window-titlebar {
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 5%);
    background-color: var(--white-color);
    border-radius: 6px 6px 0 0;
    color: var(--dark-txt);
    height: 75px;
    z-index: 1000;
    position: relative;
}

.k-window-title {
    font-size: 30px !important;
    padding: 16px;
    font: 24px/43px "AvantGardeGothic-Bk", sans-serif;
}

#window-content {
    overflow: auto;
    height: 750px;
    font-family: var(--medium-txt);
    padding-bottom: 75px;
    padding-left: 25px;
    background-color: var(--item-bg-color);
}

.k-window-content {
    padding: 0px;
    overflow-x: hidden;
}

.k-window .window-footer {
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 5%);
    background-color: #ffffff;
    border-radius: 0 0 6px 6px;
    box-sizing: border-box;
    color: #777777;
    display: flex;
    flex-wrap: wrap;
    min-height: 75px;
    padding: 16px;
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.k-window .window-footer {
    flex-wrap: nowrap;
    height: 75px;
}

.btn.btn-right:nth-of-type(1) {
    margin-left: auto;
}

.btn.btn-right {
    margin-left: 16px;
}

.k-dropdown {
    background-color: var(--white-color) !important;
    border-radius: 3px !important;
    padding: 0 !important;
    font-size: 12pt;
}

.k-dropdown-wrap>.k-input,
.k-dropdown .k-dropdown-wrap .k-select,
.k-list,
.k-reset {
    background-color: var(--white-color);
}

li.k-item.k-state-hover {
    background-color: var(--sec-hover);
    box-shadow: none;
    border: none;
}

.k-state-selected.k-state-focused {
    background-color: var(--primary-color);
    border: none;
    box-shadow: none;
}

.k-dropdown .k-state:focus {
    background-color: var(--primary-color);
}

.k-list>.k-state-focused.k-state-selected,
.k-listview>.k-state-focused.k-state-selected,
.k-state-focused.k-state-selected,
td.k-state-focused.k-state-selected {
    box-shadow: none;
}

.k-radio+.k-radio-label:before {
    background-color: var(--primary-color) !important;
}


input[type="radio"].k-radio {
    background-color: var(--white-color);
    border: none;
}

.k-radio:checked::before {
    background-color: var(--primary-color);
    border: none !important;
}

.k-radio:focus {
    box-shadow: none;
}

.k-radio:checked:focus {
    box-shadow: none;
}

.k-grid{
    margin: 50px auto;
    overflow: hidden;
    height: 100%;
    border: none;
   
}


.k-grid-header th.k-header{
    cursor: default;
    padding: 0 0 0 6.4px;
    vertical-align: middle;
    overflow: hidden;
    height: 48px;
    
    
}

.k-grid-header a{
    font-family: var(--bold-txt);
}

.k-master-row {
    height: 48px;
}

.k-grid-content{
    overflow-x: hidden;
    overflow-y: auto;
    font-family: var(--regular-txt);
}


/* freeform */
.k-alt {
  
}
 .k-header{
     
 }

 .k-grid {
     /* border-bottom: 1px solid rgb(0 0 0 / 12%);  */
 }

 .freeform{
    border-color: var(--white-color);
    border-color: #edebeb;
    background-color: #F5F7FF;
 }